/***** PRESET ******/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    background-repeat: no-repeat;
}
:root {
    --color-pink: #F16D7F;
    --color-black: #000;
    --color-text: #5D5D5D;
    --globe-font: 14px;
    --globe-size: 17px;
}
body, input {
    background-color: #fff;
    font-family: Lato, sans-serif;
    font-size: var(--globe-font);
    line-height: var(--globe-size);
    font-weight: 100;
}
a {
    text-decoration: none;
    color: var(--color-text);
}
.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}
.globe_button {
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    display: inline-block;
    border: 1px solid #FF6A6A;
    padding: 14px 38px;
    margin-top: 48px;
    transition: all .3s;
}
.globe_button:hover {
    background: var(--color-pink);
    border: 1px solid #FF6A6A;
    color: #fff;
}
summary::marker, summary::-webkit-details-marker {
    display: none;
    list-style: none;
}
summary {
    list-style: none;
}
/***** / PRESET *****/

/***** HEADER ******/
.top_bar {
    background-color: #222;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 41px;
}
.top_left_items, .top_rigth_items {
    display: flex;
    gap: 41px;
    align-items: center;
}
.search_wrap form {
    display: flex;
    width: 100%;
    align-items: center;
}
.search_wrap div {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 30px;
}
#search_elems {
    display: flex;
    opacity: 0;
    visibility: hidden;
    transition: all 1s;
}
.text_field {
    display: block;
    padding: 0 12px;
    background-color: #E1E1E1;
    border: none;
    height: 49px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    padding-left: 25px;
    width: 428px;
}
.submit_button {
    background-color: var(--color-pink);
    color: #fff;
    height: 49px;
    border: none;
    width: 100px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    cursor: pointer;
}
.menu_wrap {
    position: relative;
}
.button_menu {
    cursor: pointer;
}
.main_menu {
    display: block;
    background-color: #fff;
    width: 232px;
    position: absolute;
    top: 51px;
    left: -53px;
    padding: 33px;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: all 1s;
}
.main_menu div {
    font-weight: bold;
    color: #000;
}
.main_menu li {
    list-style: none;
}
.main_menu ul li {
    margin: 12px 0 20px;
}
.main_menu a {
    color: var(--color-pink);
}
.main_menu ul li ul li {
    margin: 11px 0 11px 20px;
}
.main_menu ul li ul a {
    color: #6F6E6E;
}
.header__account {
    cursor: pointer;
}
.cabinet_wrap {
    position: relative;
}
.access_form_wrap {
    display: block;
    position: absolute;
    right: -77px;
    background-color: #fff;
    top: 54px;
    z-index: 10;
    padding: 30px;
    width: 300px;
    opacity: 0;
    visibility: hidden;
    transition: all 1s;
}
.access_form_wrap input[type="text"], 
.access_form_wrap input[type="password"] {
    border: 1px solid #A4A4A4;;
    padding: 12px;
    margin: 10px 0;
    width: 100%;
}
.access_form_wrap input[type="submit"] {
    width: 100%;
    margin-top: 10px;
    cursor: pointer;
}
.register {
    margin: 20px 0 0;
}
/******* / HEADER *******/

/********** PAGE *********/
/****** BANNER *******/
.banner_bg {
    position: absolute;
    background-color: #00000077;
    width: 100%;
    height: 100%;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 1s;
}
.banner {
    background: rgba(113, 103, 105, 0.08);
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
    display: flex;
    position: relative;
}
.banner_left {
    width: 50%;
}
.banner_left img {
    width: 100%;
    height: 100%;
}
.banner_right {
    width: 50%;
    background: #F1E4E6;
    display: flex;
    align-items: center;
    padding-left: 64px;
}
.promo_content {
    border-left: solid 12px var(--color-pink);
    padding-left: 16px;
}
.promo_content h1 {
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222;
}
.promo_content p {
    font-weight: 900;
    color: #222;
    font-size: 23px;
}
.promo_content p span {
    color: var(--color-pink);
}
/******** OFFERS ************/
.offers {
    margin-top: 64px;
    margin-bottom: 97px;
}
.numerous_offers {
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.numerous_offers section, .one_offer section {
    position: relative;
}
.numerous_offers div, .one_offer div {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.numerous_offers img, .one_offer img {
    width: 100%;
}
.numerous_offers p, .one_offer p {
    font-size: 16px;
    line-height: 19px;
    color: #fff;
    text-transform: uppercase;
}
.numerous_offers h3, .one_offer h3 {
    color: var(--color-pink);
    text-transform: uppercase;
}
.one_offer {
    margin-top: 30px;
}
/********** MAIN PAGE PRODUCTS *********/
.mainpage_products {
    text-align: center;
}
.mainpage_products h3 {
    color: #222;
    font-size: 30px;
    line-height: 36px;
}
.mainpage_products p {
    color: #9F9F9F;
}
.mp_list {
    margin-top: 48px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}
.mp_list section {
    max-width: 360px;
    background-color: #F8F8F8;
    text-align: left;
}
.img_wrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product img {
    filter: brightness(100%);
    transition: filter 1s;
}
.product:hover img {
    filter: brightness(50%);
}
.bg_cart {
    position: absolute;
    border: solid 1px #fff;
    padding: 12px 20px 12px 54px;
    color: #fff;
    display: none;
    background-image: url('../img/cart.svg');
    background-position: 10% 50%;
}
.img_wrap:hover .bg_cart {
    display: block;
}
.bg_cart:hover {
    box-shadow: 0 0 5px #fff;
}
.mp_list h4, .mp_list p {
    padding: 0 14px;
}
.mp_list h4 {
    margin-top: 25px;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}
.mp_list h4 a {
    color: #000000;
}
.mp_list p {
    margin-top: 12px;
    font-weight: 300;
    color: #5D5D5D;
}
.product_price {
    margin-top: 18px;
    margin-bottom: 20px;
    color: var(--color-pink);
    font-size: 16px;
    line-height: 19px;
    padding: 0 14px;
}
/** FOOOOTER **/
.foot_services {
    margin-top: 95px;
    background-color: #222224;
    display: flex;
    text-align: center;
}
.foot_services img {
    margin-top: 104px;
}
.foot_services h3 {
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
    margin-top: 28px;
}
.foot_services p {
    font-weight: 300;
    text-align: center;
    color: #FBFBFB;
    margin-top: 16px;
    margin-bottom: 104px;
}
.foot_subscribe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("../img/subscribe_bg.jpg");
    background-size: cover;
    background-position: center bottom;
    height: 448px;
}
.feedback, .subscribe_form {
    max-width: 360px;
    text-align: center;
}
.feedback p {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
    margin-top: 30px;
}
.subscribe_form h3 {
    font-size: 24px;
    line-height: 167.2%;
    color: #222224;
    text-transform: uppercase;
}
.subscribe_form p {
    text-transform: uppercase;
}
.subscribe_form form {
    margin-top: 32px;
    display: flex;
}
.subscribe_form input[type="email"] {
    width: 260px;
    padding-right: 16px;
}
.subscribe_form input[type="submit"] {
    width: 100px;
    transition: background-color 1s;
}
.subscribe_form input[type="submit"]:hover {
    background-color: #E05C6E;
}
/** FOOT BAR **/
.foot_bar {
    background-color: #222224;
    height: 79px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.copy {
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}
.social {
    display: flex;
    gap: 7px;
}
.social a {
    display: inline-block;
    width: 31px;
    height: 32px;
    background-color: #fff;
    transition: background-color .5s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social a:hover {
    background-color: var(--color-pink);
}
.social a:hover img {
    filter: invert(0%);
    transition: filter .5s;
}
.social a:hover img {
    filter: invert(100%);
}

/*** / MAIN ***/

/*** CATALOG ***/
.page_title_block {
    background: #F8F3F4;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ptb_headign h1 {
    padding: 60px 0;
    font-size: 24px;
    line-height: 29px;
    color: var(--color-pink);
    text-transform: uppercase;
}
.ptm_navig a {
    font-weight: 300;
    color: #636363;
    text-transform: uppercase;
}
.ptm_navig a:hover {
    color: var(--color-pink);
}
.last_chunk {
    text-transform: uppercase;
    font-weight: 600;
    color: var(--color-pink);
}
.catalog_controls {
    margin-top: 51px;
    margin-bottom: 64px;
    text-align: left;
    display: flex;
    gap: 30px;
    color: #6F6E6E;
    text-transform: uppercase;
}
.catalog_controls summary {
    list-style: none;
    color: #000;
    cursor: pointer;
}
.control_filter {
    width: 360px;
    position: relative;
}
.ctrl_first_lvl summary span {
    display: inline-block;
    background-image: url('../img/filter_list_style.svg');
    width: 15px;
    height: 11px;
    margin-left: 12px;
}
.ctrl_first_lvl {
    position: absolute;
    top: -13px;
    padding: 13px 16px;
    z-index: 10;
    background-color: #fff;
    width: 360px;
}
.ctrl_first_lvl[open] {
    box-shadow: 5px 10px 15px #9F9F9F;
}
.ctrl_first_lvl[open] summary span {
    background-image: url('../img/filter_list_style_active.svg');
}
.ctrl_first_lvl[open] summary {
    color: var(--color-pink);
    margin-bottom: 12px;
}
.ctrl_first_lvl[open] summary:last-child {
    margin-bottom: 0;
}
.ctrl_second_lvl summary {
    border-left: solid 3px var(--color-pink);
    border-bottom: 1px solid #EBEBEB;
    padding: 11px;
}
.ctrl_second_lvl ul {
    margin: 24px 0;
}
.ctrl_second_lvl li {
    list-style: none;
    margin: 0 0 11px 17px;
}
.control_addition {
    display: flex;
    gap: 48px;
    position: relative;
}
.control_addition summary::after {
    content: '';
    display: inline-block;
    width: 10px;
    height: 5px;
    background-image: url('../img/drop_down.svg');
    position: relative;
    top: -2px;
    left: 10px;
}
.control_addition ul {
    position: absolute;
    background-color: #fff;
    z-index: 10;
    box-shadow: 5px 10px 15px #9F9F9F;
    padding: 10px;
    top: 22px;
}
.control_addition li {
    list-style: none;
    margin-bottom: 6px;
    white-space: nowrap;
}
.control_addition li:last-child {
    margin-bottom: 0;
}
.control_addition ul li input {
    border: 1px solid #EBEBEB;
    margin-right: 10px;
}
.pagination_wrap {
    display: inline-block;
}
.pagination {
    text-align: left;
    margin-top: 48px;
    border: 1px solid #EBEBEB;
    padding: 12px;
    display: flex;
    gap: 17px;
}
.left_arrow, .right_arrow {
    display: inline-block;
    width: 8px;
    height: 14px;
}
.left_arrow {
    background-image: url('../img/left_arrow.png');
}
.right_arrow {
    background-image: url('../img/right_arrow.png');
}
.active {
    color: var(--color-pink);
}

/****** PRODUCT *******/
.detail_page {
    text-align: center;
    border: 1px solid #EAEAEA;
    position: relative;
    top: -64px;
    background-color: #fff;
}
.detail_page h3 {
    color: var(--color-pink);
    margin-top: 64px;
    text-transform: uppercase;
}
.detail_page h3::after {
    content: '';
    display: block;
    margin: 12px auto;
    width: 5%;
    border-bottom: solid 3px var(--color-pink);
}
.detail_page h2 {
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #4D4D4D;
    text-transform: uppercase;
}
.detail_page p {
    margin: 68px auto 32px;
    color: #5E5E5E;
    width: 555px;
}
.detail_price {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: var(--color-pink);
}
.detail_price::after {
    content: '';
    display: block;
    width: 56.4%;
    margin: 65px auto;
    border-bottom: 1px solid #EAEAEA;
}
.detail_props {
    display: flex;
    justify-content: center;
}
.detail_props div.catalog_controls {
    margin: 0 0 48px 0;
}
.prod_button div.img_wrap {
    position: static;
}
.detail_button a {
    display: inline-block;
    border: 1px solid var(--color-pink);
    font-size: 16px;
    line-height: 19px;
    color: var(--color-pink);
    padding: 14px 56px 14px 72px;
    margin-bottom: 65px;
    background-image: url('../img/cart_pink.png');
    background-position: 24px 14px;
    background-size: auto;
    transition: color .5s, background-color .5s, background-image .5s;
}
.detail_button a:hover {
    background: var(--color-pink);
    border: 1px solid #FF6A6A;
    color: #fff;
    background-image: url('../img/cart.svg');
    background-repeat: no-repeat;
    background-position: 24px 14px;
    background-size: 13%;
}